<style>
#map{
    padding: 55px;
    margin-top:100px;
    height:400px;
    width: 100%;
}
</style>

<div class = "row">
<div id= "map"></div>
</div>
<script>
     

        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
            center: new google.maps.LatLng(41.7606, -88.3201),
              zoom: 8
            });

            var locations = <%= @locations.to_json.html_safe %>
            
            

            for( var i = 0; i < locations.length; i++){
               

                var name = locations[id = i]["location"]
                var mlat = parseFloat(locations[id = i]["lat"])
                var mlng = parseFloat(locations[id = i]["lng"])

                var infowindow = new google.maps.InfoWindow({
                    content: name
                })

                var marker = new google.maps.Marker({
                title: name,
                position: {lat: mlat, lng: mlng},
                map: map
                });

                marker.addListener('click', function() {
                    infowindow.open(map, marker);
                });
                
            }
        }
      
        
    </script>
    
    

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpUg5OmSJqtciT_yKDbYMGsCbs21e6f7Y&callback=initMap">
     
    </script>