

<style>
#map{
    height:400px;
    width: 100%;
}
</style>

<body>
<div id= "map"></div>
<div class="AddLocation">
    <%= link_to 'Add Location', "/map/new" %>
</div>

    <div class="practice">

    <h1>Locations </h1>
        <% @locations.each do |coord| %>
        <div class = "coordinates">
            <%= coord.lat %><br>
            <%= coord.lng %><br>
        </div>
        <% end %>
    </div>
 

<script>
     
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
            center: new google.maps.LatLng(41.7606, -88.3201),
              zoom: 12
            });
            var locations = <%= @locations.to_json.html_safe %>
            var marker = new google.maps.Marker({
                position: {lat: 41.7606, lng: -88.3201},
                map: map
            });
            for( var i = 0; i < locations.length; i++){
                    
        
                var mlat = parseFloat(locations[id = i]["lat"])
                var mlng = parseFloat(locations[id = i]["lng"])
                marker = new google.maps.Marker({
                position: {lat: mlat, lng: mlng},
                map: map
                });
            }
        }
      
        
    </script>
    
    

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpUg5OmSJqtciT_yKDbYMGsCbs21e6f7Y&callback=initMap">
     
    </script>
<body>