<style>
body {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%
}

::selection {
    background-color: #72e5ff;
    color: #ffffff;
}

::-moz-selection {
    background-color: #72e5ff;
    color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Nosifer', cursive;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

a {
    color: #4c9cef;
}

a:hover,
a:active,
a:focus {
    color: #fd2034;
    text-decoration: none;
	outline: none;
}

p {
    line-height: 28px;
    font-family: 'Poppins', sans-serif;
}

b {
	font-weight: 600;
}

ul,
li {
    margin: 0;
    padding: 0;
}

fieldset {
    border: 0 none;
    margin: 0 auto;
    padding: 0;
}

.white-color {
    color: #ffffff !important;
}

.no-padding {
    padding: 0
}

.section-space-padding {
    padding: 0px 0px 150px;
}

.section-title {
    position: relative;
    margin-bottom: 100px;
    padding-top: 80px;
}

.section-title:before {
    content: "";
    border: 1px solid #fd2034;
    position: absolute;
    top: 0;
    left: 50%;
    height: 90px;
    margin-left: -0.5px;   
}

.section-title i {
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    font-size: 42px;
    line-height: 100px;
    text-align: center;
    border-radius: 50%;
    margin: 0 auto 50px;
    background-color: #72e5ff;
    color: #ffffff;
    box-shadow: 7px 24px 84px 0 rgba(0, 0, 0, 0.38);
}

.section-title h3 {
    text-align: center;
    font-size: 30px;
    color: #4c9cef;
}

.section-title span {
    color: #72e5ff !important;
}
.about-us {
    background-color: #ffffff;
    padding: 55px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 1px 2px 0px rgba(78, 78, 78, 0.45);
}

.about-us:hover {
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 8px 15px 0px rgba(90, 91, 95, 0.33);
}

.about-us p {
    font-size: 14px;
    text-align: center;
}
</style>
<section id="about" class="section-space-padding pattern-bg">
   <div class="container">
         
      <div class="section-title">
        <i class="icon-emotsmile"></i>
        <h3>About <span>Us</span></h3>
       </div>
      
     
          <div class="row">
    
             <div class="col-md-6 col-md-offset-3">
               <div class="about-us">
               <p>
               Welcome to our Food Stand Fatty Pattys! We have four prime locations: Aurora,
               St. Charles, Naperville, and Chicago. We will be incorporating a Maps API to show you our exact locations!
               You can find anything from a simple burger to some delicious
               pizza! Not to mention some refreshing beverages of all kinds. Come on down to any 
               of our locations and try our food!
             </div>
            </div>
          
          </div>
       </div>
    </section>
    