<p id="notice"><%= notice %></p>

<p>
  <strong>Typesofcondiments:</strong>
  <%= @condiment.typesOfCondiments %>
</p>

<%= link_to 'Edit', edit_condiment_path(@condiment) %> |
<%= link_to 'Back', condiments_path %>
